body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1982px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:527px;
}
#u4433 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:260px;
  width:735px;
  height:527px;
  display:flex;
}
#u4433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1804px;
  height:85px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1804px;
  height:85px;
  display:flex;
}
#u4435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MS PGothic Bold', 'MS PGothic Regular', 'MS PGothic', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u4436 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:26px;
  width:193px;
  height:32px;
  display:flex;
  font-family:'MS PGothic Bold', 'MS PGothic Regular', 'MS PGothic', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u4436 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4436_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4437 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:23px;
  width:140px;
  height:40px;
  display:flex;
}
#u4437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1804px;
  height:63px;
  background:inherit;
  background-color:rgba(81, 75, 111, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:1804px;
  height:63px;
  display:flex;
}
#u4438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:85px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新細明體 Bold', '新細明體 Regular', '新細明體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#F2F2F2;
}
#u4439 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:0px;
  width:137px;
  height:85px;
  display:flex;
  font-family:'新細明體 Bold', '新細明體 Regular', '新細明體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#F2F2F2;
}
#u4439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4439_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:85px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新細明體 Bold', '新細明體 Regular', '新細明體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#F2F2F2;
}
#u4439.mouseOver {
}
#u4439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:85px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新細明體 Bold', '新細明體 Regular', '新細明體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#F2F2F2;
}
#u4440 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:0px;
  width:136px;
  height:85px;
  display:flex;
  font-family:'新細明體 Bold', '新細明體 Regular', '新細明體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#F2F2F2;
}
#u4440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4440_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:85px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新細明體 Bold', '新細明體 Regular', '新細明體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#F2F2F2;
}
#u4440.mouseOver {
}
#u4440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
}
#u4441 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:65px;
  width:36px;
  height:21px;
  display:flex;
}
#u4441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
}
#u4442 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:64px;
  width:36px;
  height:21px;
  display:flex;
}
#u4442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4443 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:95px;
  width:82px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4443_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4443.mouseOver {
}
#u4443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4444 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:95px;
  width:82px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4444_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4444.mouseOver {
}
#u4444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:32px;
  background:inherit;
  background-color:rgba(81, 75, 111, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4446 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:172px;
  width:273px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4447 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:172px;
  width:273px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4448 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:310px;
  width:1001px;
  height:215px;
}
#u4449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u4449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:30px;
}
#u4450 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:0px;
  width:923px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:24px;
}
#u4450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u4451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:78px;
  height:30px;
  display:flex;
  color:#FFFFFF;
}
#u4451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:30px;
}
#u4452 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:30px;
  width:923px;
  height:30px;
  display:flex;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u4452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u4453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:78px;
  height:52px;
  display:flex;
  color:#FFFFFF;
}
#u4453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:52px;
}
#u4454 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:60px;
  width:923px;
  height:52px;
  display:flex;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u4454 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u4454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u4455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:78px;
  height:52px;
  display:flex;
  color:#FFFFFF;
}
#u4455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:52px;
}
#u4456 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:112px;
  width:923px;
  height:52px;
  display:flex;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u4456 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u4456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u4457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:78px;
  height:47px;
  display:flex;
  color:#FFFFFF;
}
#u4457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:47px;
}
#u4458 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:164px;
  width:923px;
  height:47px;
  display:flex;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u4458 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u4458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u4459 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:350px;
  width:23px;
  height:23px;
  display:flex;
  color:#FFFFFF;
}
#u4459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u4460 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:590px;
  width:23px;
  height:23px;
  display:flex;
  color:#FFFFFF;
}
#u4460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u4461 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:720px;
  width:23px;
  height:23px;
  display:flex;
  color:#FFFFFF;
}
#u4461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4462 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:1009px;
  width:443px;
  height:311px;
}
#u4463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u4463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u4464 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:195px;
  height:30px;
  display:flex;
}
#u4464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u4465 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:0px;
  width:148px;
  height:30px;
  display:flex;
}
#u4465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u4466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:47px;
  display:flex;
}
#u4466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:47px;
}
#u4467 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:195px;
  height:47px;
  display:flex;
}
#u4467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:47px;
}
#u4468 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:30px;
  width:148px;
  height:47px;
  display:flex;
}
#u4468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
}
#u4469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:100px;
  height:44px;
  display:flex;
}
#u4469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:44px;
}
#u4470 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:77px;
  width:195px;
  height:44px;
  display:flex;
}
#u4470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
}
#u4471 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:77px;
  width:148px;
  height:44px;
  display:flex;
}
#u4471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
}
#u4472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:121px;
  width:100px;
  height:43px;
  display:flex;
}
#u4472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:43px;
}
#u4473 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:121px;
  width:195px;
  height:43px;
  display:flex;
}
#u4473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:43px;
}
#u4474 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:121px;
  width:148px;
  height:43px;
  display:flex;
}
#u4474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u4475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:100px;
  height:49px;
  display:flex;
}
#u4475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:49px;
}
#u4476 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:164px;
  width:195px;
  height:49px;
  display:flex;
}
#u4476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:49px;
}
#u4477 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:164px;
  width:148px;
  height:49px;
  display:flex;
}
#u4477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u4478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:100px;
  height:49px;
  display:flex;
}
#u4478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:49px;
}
#u4479 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:213px;
  width:195px;
  height:49px;
  display:flex;
}
#u4479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:49px;
}
#u4480 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:213px;
  width:148px;
  height:49px;
  display:flex;
}
#u4480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u4481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:262px;
  width:100px;
  height:49px;
  display:flex;
}
#u4481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:49px;
}
#u4482 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:262px;
  width:195px;
  height:49px;
  display:flex;
}
#u4482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:49px;
}
#u4483 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:262px;
  width:148px;
  height:49px;
  display:flex;
}
#u4483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4484 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:969px;
  width:443px;
  height:40px;
  display:flex;
}
#u4484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
