body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1795px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1804px;
  height:85px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1804px;
  height:85px;
  display:flex;
}
#u5498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MS PGothic Bold', 'MS PGothic Regular', 'MS PGothic', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u5499 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:26px;
  width:193px;
  height:32px;
  display:flex;
  font-family:'MS PGothic Bold', 'MS PGothic Regular', 'MS PGothic', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u5499 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5499_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u5500 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:23px;
  width:140px;
  height:40px;
  display:flex;
}
#u5500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1804px;
  height:63px;
  background:inherit;
  background-color:rgba(81, 75, 111, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:1804px;
  height:63px;
  display:flex;
}
#u5501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:85px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新細明體 Bold', '新細明體 Regular', '新細明體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#F2F2F2;
}
#u5502 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:0px;
  width:137px;
  height:85px;
  display:flex;
  font-family:'新細明體 Bold', '新細明體 Regular', '新細明體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#F2F2F2;
}
#u5502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5502_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:85px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新細明體 Bold', '新細明體 Regular', '新細明體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#F2F2F2;
}
#u5502.mouseOver {
}
#u5502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:85px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新細明體 Bold', '新細明體 Regular', '新細明體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#F2F2F2;
}
#u5503 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:0px;
  width:136px;
  height:85px;
  display:flex;
  font-family:'新細明體 Bold', '新細明體 Regular', '新細明體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#F2F2F2;
}
#u5503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5503_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:85px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新細明體 Bold', '新細明體 Regular', '新細明體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#F2F2F2;
}
#u5503.mouseOver {
}
#u5503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
}
#u5504 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:65px;
  width:36px;
  height:21px;
  display:flex;
}
#u5504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
}
#u5505 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:64px;
  width:36px;
  height:21px;
  display:flex;
}
#u5505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5506 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:95px;
  width:82px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5506_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5506.mouseOver {
}
#u5506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5507 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:95px;
  width:82px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5507_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5507.mouseOver {
}
#u5507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:32px;
  background:inherit;
  background-color:rgba(81, 75, 111, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5509 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:172px;
  width:273px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5510 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:172px;
  width:273px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  height:497px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u5511 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:433px;
  width:779px;
  height:497px;
  display:flex;
}
#u5511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5512_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:729px;
  height:5px;
}
#u5512 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:671px;
  width:726px;
  height:2px;
  display:flex;
}
#u5512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5513 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:571px;
  width:726px;
  height:33px;
  display:flex;
  text-align:left;
}
#u5513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u5514 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:603px;
  width:723px;
  height:65px;
  display:flex;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u5514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
}
#u5515 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:603px;
  width:152px;
  height:34px;
  display:flex;
}
#u5515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:33px;
}
#u5516 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:603px;
  width:465px;
  height:33px;
  display:flex;
  text-align:left;
}
#u5516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:33px;
}
#u5517 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:603px;
  width:178px;
  height:33px;
  display:flex;
}
#u5517 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5518 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:848px;
  width:180px;
  height:30px;
  display:flex;
}
#u5518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5519 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:845px;
  width:165px;
  height:33px;
  display:flex;
}
#u5519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5520_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:728px;
  height:5px;
}
#u5520 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:488px;
  width:725px;
  height:2px;
  display:flex;
}
#u5520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5521 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:470px;
  width:158px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5521 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5521_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5522 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:499px;
  width:372px;
  height:34px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:22px;
}
#u5523 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:499px;
  width:351px;
  height:34px;
  display:flex;
  text-align:left;
  line-height:22px;
}
#u5523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
}
#u5524 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:635px;
  width:152px;
  height:33px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:33px;
}
#u5525 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:635px;
  width:465px;
  height:33px;
  display:flex;
  text-align:left;
}
#u5525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:33px;
}
#u5526 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:635px;
  width:178px;
  height:33px;
  display:flex;
  text-align:left;
}
#u5526 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5527 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:815px;
  width:180px;
  height:33px;
  display:flex;
}
#u5527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5528 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:815px;
  width:165px;
  height:33px;
  display:flex;
}
#u5528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5529 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:424px;
  width:679px;
  height:243px;
}
#u5530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:33px;
}
#u5530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:33px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u5530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:33px;
}
#u5531 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:639px;
  height:33px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
  line-height:24px;
}
#u5531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:33px;
}
#u5532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:40px;
  height:33px;
  display:flex;
  color:#FFFFFF;
  line-height:24px;
}
#u5532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:33px;
}
#u5533 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:33px;
  width:639px;
  height:33px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u5533 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u5533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
}
#u5534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:40px;
  height:34px;
  display:flex;
  color:#FFFFFF;
  line-height:24px;
}
#u5534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:34px;
}
#u5535 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:66px;
  width:639px;
  height:34px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u5535 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u5535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
}
#u5536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:40px;
  height:35px;
  display:flex;
  color:#FFFFFF;
  line-height:24px;
}
#u5536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:35px;
}
#u5537 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:100px;
  width:639px;
  height:35px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u5537 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u5537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
}
#u5538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:40px;
  height:34px;
  display:flex;
  color:#FFFFFF;
  line-height:24px;
}
#u5538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:34px;
}
#u5539 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:135px;
  width:639px;
  height:34px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u5539 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u5539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:37px;
}
#u5540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:169px;
  width:40px;
  height:37px;
  display:flex;
  color:#FFFFFF;
  line-height:24px;
}
#u5540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:37px;
}
#u5541 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:169px;
  width:639px;
  height:37px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u5541 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u5541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:37px;
}
#u5542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:206px;
  width:40px;
  height:37px;
  display:flex;
  color:#FFFFFF;
  line-height:24px;
}
#u5542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:37px;
}
#u5543 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:206px;
  width:639px;
  height:37px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u5543 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u5543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:79px;
}
#u5544 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:687px;
  width:1px;
  height:78px;
  display:flex;
  -webkit-transform:rotate(-0.120120935003555deg);
  -moz-transform:rotate(-0.120120935003555deg);
  -ms-transform:rotate(-0.120120935003555deg);
  transform:rotate(-0.120120935003555deg);
}
#u5544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5545 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:718px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5545 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5545_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5546 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:696px;
  width:548px;
  height:64px;
}
#u5547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:34px;
}
#u5547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:34px;
  display:flex;
}
#u5547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:34px;
}
#u5548 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:0px;
  width:145px;
  height:34px;
  display:flex;
}
#u5548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
}
#u5549 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:0px;
  width:146px;
  height:34px;
  display:flex;
}
#u5549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
}
#u5550 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:0px;
  width:112px;
  height:34px;
  display:flex;
}
#u5550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u5551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:145px;
  height:30px;
  display:flex;
}
#u5551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u5552 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:34px;
  width:145px;
  height:30px;
  display:flex;
}
#u5552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u5553 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:34px;
  width:146px;
  height:30px;
  display:flex;
}
#u5553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u5554 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:34px;
  width:112px;
  height:30px;
  display:flex;
}
#u5554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:33px;
}
#u5555 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:603px;
  width:178px;
  height:33px;
  display:flex;
  text-align:left;
}
#u5555 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
}
#u5556 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:635px;
  width:152px;
  height:33px;
  display:flex;
}
#u5556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5557_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:729px;
  height:5px;
}
#u5557 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:769px;
  width:726px;
  height:2px;
  display:flex;
}
#u5557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5558 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:845px;
  width:213px;
  height:33px;
  display:flex;
}
#u5558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5559 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:815px;
  width:213px;
  height:33px;
  display:flex;
}
#u5559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5560 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:831px;
  width:110px;
  height:16px;
  display:flex;
}
#u5560 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5561_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:729px;
  height:5px;
}
#u5561 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:888px;
  width:726px;
  height:2px;
  display:flex;
}
#u5561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:79px;
}
#u5562 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:800px;
  width:1px;
  height:78px;
  display:flex;
  -webkit-transform:rotate(-0.120120935003555deg);
  -moz-transform:rotate(-0.120120935003555deg);
  -ms-transform:rotate(-0.120120935003555deg);
  transform:rotate(-0.120120935003555deg);
}
#u5562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5563_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:729px;
  height:5px;
}
#u5563 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:785px;
  width:726px;
  height:2px;
  display:flex;
}
#u5563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5564 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:544px;
  width:524px;
  height:16px;
  display:flex;
}
#u5564 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
