body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-119px;
  width:1001px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5368 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:198px;
  width:1001px;
  height:82px;
}
#u5369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u5369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:30px;
}
#u5370 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:0px;
  width:923px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:24px;
}
#u5370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u5371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:78px;
  height:52px;
  display:flex;
  color:#FFFFFF;
}
#u5371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:52px;
}
#u5372 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:30px;
  width:923px;
  height:52px;
  display:flex;
  color:#000000;
  text-align:left;
  line-height:24px;
}
#u5372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
